.listadoVG {

    width: 80%;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px auto;
    padding: 1% 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 300px 300px 300px;
    border-radius: 30px;

}

select {

    width: 200px;
    height: 30px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid rgb(163, 4, 4);
    border-radius: 20px 0 0 20px;
    text-align: center;
    margin: 0 20px;
    font-weight: 700;

}

select:active {

    outline: none;

}

button {

    width: 150px;
    height: 35px;
    background: rgba(112, 3, 3, 0.8);
    font-weight: 600;
    color: white;
    border: 1px solid red;

}

button:hover {

    background: rgba(194, 2, 2, 0.8);

}