.pagination {

    

}

.numPagination {

    width: 40px;
    height: 30px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    display:inline-block;
    border: 1px solid red;
    border-radius: 10px;
    margin: 0 10px;
    padding: 7px 0 0 0;
    animation: moverDerecha 1s ease-in;

}

.numPagination:hover {

    background: linear-gradient(rgba(255, 0, 0, 0.8), rgba(255, 153, 0, 0.8));
    cursor: pointer;

}

@keyframes moverDerecha {

    0% {

        opacity: 0;
        transform: translateX(200px);

    }

    100% {

        opacity: 1;
        transform: translate(0);

    }

}