h1 {

    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    text-shadow: 0 0 15px #0000FF, 0 0 15px #0000FF;

}

button {

    background: linear-gradient(#111, #999);
    color: white;
    width: 15em;
    height: 3em;
    border: black 1px solid;
    border-radius: 10px;
    font-size: 15px;

}

button:hover {

    background: linear-gradient(#999, #111);
    
}