h1 {

    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    /* text-shadow: 0 0 20px #d47f1e, 0 0 20px #d47f1e; */
    text-shadow: 0 0 20px #880808, 0 0 20px #880808;

}

.h1Landing {

    margin: 30px auto;
    animation: moverIzquierda 1.5s ease-in;

}

.butLanding {

    background: linear-gradient(170deg, transparent 40%, rgba(255, 0, 0, 0.8));
    color: white;
    width: 300px;
    height: 50px;
    font-size: 30px;
    border: 0;
    animation: moverDerecha 1.5s ease-in;

}

.butLanding:hover {

    background: linear-gradient(transparent 10%, rgba(112, 3, 3, 0.8));
    border-bottom: 1px solid red;
    cursor: pointer;
    
}

@keyframes moverDerecha {

    0% {

        opacity: 0;
        transform: translateX(200px);

    }

    100% {

        opacity: 1;
        transform: translate(0);

    }

}

@keyframes moverIzquierda {

    0% {

        opacity: 0;
        transform: translateX(-200px);

    }

    100% {

        opacity: 1;
        transform: translate(0);

    }

}